package ${packageName};

import javax.script.Invocable;
import javax.script.ScriptException;
import javax.annotation.Generated;

@Generated("${generatorClassName}")
class ${className} implements ${interfaceName} {
    private final Invocable invocable;

    public ${className}(Invocable invocable) {
        this.invocable = invocable;
    }
#foreach ($method in $methods)

${method}#end
}
