    @Override
    public ${returnType} ${methodName}(${parameters}) {
        try {
            #if (!$isVoid) return (${returnType})#end invocable.invokeFunction("${methodName}"${invocationParameters});
        } catch (ScriptException e) {
            throw new RuntimeException(e);
        } catch (NoSuchMethodException e) {
            throw new RuntimeException(e);
        }
    }
